<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/main.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>채팅방</title>
</head>
<style>
/* css */
a{color: black;}
a:hover{color: black;text-decoration: none;}


.onBtn{
  opacity: 1;
}
.offBtn{
  opacity: 0.4;
  pointer-events: none;
  
}


</style>
<script>
// script
// ajax 서버 통신 방법
// 가장큰 장점 : 새로고침 없이도 서버랑 통신이 가능하다.
window.onload = function(){


let chatVal = document.getElementById("chatVal");
let chatBtn = document.getElementById("button-addon2");
let chatValData = "";
let stopKeydown = true;


chatVal.oninput = changeData;

function changeData(e){
  console.log(e.target.value);

  if(e.target.value.length !== 0){

    chatBtn.classList.remove('onBtn', 'offBtn');
    chatBtn.classList.add('onBtn');
    stopKeydown = false;

  }else{

    chatBtn.classList.remove('onBtn', 'offBtn');
    chatBtn.classList.add('offBtn');
    stopKeydown = true;

  }

};

document.addEventListener('keydown', function(event) {
  if(stopKeydown){
    if (event.keyCode === 13) {
    event.preventDefault();
    };
  }


});


// SSE 실시간 소통(eventSource)
let eventSource = null;
let msgObj = null;
let chatUser = new URLSearchParams(location.search).get("userName"); //parameter

// 기존 이벤트 소스 삭제
if(eventSource != undefined){
  eventSource.close();
}

// 프론트엔드에서 실시간 소통채널 여는법
eventSource = new EventSource( '/message?userName=' + chatUser );
eventSource.addEventListener('test', function(e){

  chatVal.value = "";
  
  msgObj = JSON.parse(e.data);

  //요소 추가
  let msgArea = document.getElementById('msgBox');

  msgObj.forEach((a, i) => {

    if(chatUser === a.name){
      // chatUser
      let newliTag = document.createElement('li');
      let newdiv1Tag = document.createElement('div');
      let newdiv2Tag = document.createElement('div');
      let newh5Tag = document.createElement('h5');
      let newpTag = document.createElement('p');

      newliTag.setAttribute('class', 'media my-2');
      newdiv1Tag.setAttribute('class', 'media-body');
      newdiv2Tag.setAttribute('class', 'w-75');
      newh5Tag.setAttribute('class', 'mt-0 mb-1');
      newpTag.setAttribute('class', 'border rounded d-inline-block px-2 py-2');

      newh5Tag.innerHTML = a.name;
      newpTag.innerHTML = a.comment;
      
      msgArea.appendChild(newliTag);
      newliTag.appendChild(newdiv1Tag);
      newdiv1Tag.appendChild(newdiv2Tag);
      newdiv2Tag.appendChild(newh5Tag);
      newdiv2Tag.appendChild(newpTag);
    }

    if(chatUser !== a.name){
      // my
      // template
      let template = document.createElement('li'); //생성
      template.innerHTML =
        ` <li class="media my-2">
            <div class="media-body text-right">
              <div class="w-75 float-right">
                  <p class="border rounded d-inline-block px-2 py-2">` + a.comment + `</p>
              </div>
            </div>
          </li> `;
      msgArea.appendChild(template);
    }

  });


});



};
</script>
<body>
<!-- header -->
<%-include('nav.ejs', {loginName}) %>
<!-- //header -->
<div class="container">

  <h3 class="text-center mt-3 pb-3 border-bottom">채팅방</h3>
  <!-- 실시간 통신 -->
  <ul id="msgBox" class="list-unstyled mb-5">
  </ul>

</div>
<footer class="container fixed-bottom bg-white">
  <form action="/chatEnter" method="POST">
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" name="chat" id="chatVal" />
      <input type="text" class="form-control d-none" aria-label="Recipient's username" aria-describedby="button-addon2" id="userVal" name="user" value="<%= user %>" />
      <div class="input-group-append">
        <button class= "btn btn-outline-secondary offBtn" type="submit" id="button-addon2">등록</button>
      </div>
    </div>
  </form>
</footer>
</body>
</html>