<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/write">Write</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
        </li>
        <li class="nav-item">
            <% if(locals.loginName === null){ %>
                <a class="nav-link" href="/login">chat</a>
            <% } %>

            <% if(locals.loginName !== null){ %>
                <a class="nav-link" href="/chatList">chat</a>
            <% } %>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Learn List
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/routerList">Router</a>
                  <a class="dropdown-item" href="/cookiestest">Cookie</a>
                  <a class="dropdown-item" href="/socket">Socket</a>
                </div>
            </div>
        </li>
      </ul>
        <% if(locals.loginName === null){ %>
            <a class="navbar-text" href="/login">로그인</a>
        <% } %>

        <% if(locals.loginName !== null){ %>
            <div class="loginNav">
                <span class="navbar-text"><a href=""><%= loginName.id %> 님</a></span>
                <div class="list-group">
                    <a class="list-group-item" href="/mypage">마이페이지</a>
                    <a class="list-group-item" href="/logout">로그아웃</a>
                </div>
            </div>
        <% } %>
    </div>
</nav>